---
import Title from '../atoms/Title.astro';
import SkillsOnTerminal from './components/skills-on-terminal/skillsOnTerminal.astro';
import './skills.css';
---

<section id="skills">
	<SkillsOnTerminal />
	<div class="text-content">
		<Title contenido="Skills" />
		<p>
			<ul class="skills-list">
				<li><b>Back-End - .NET Development:</b> .NET Framework, .NET Core (3.1, 6, 7, 8), C#, ASP.NET, MVC, Blazor.</li>
				<li><b>Front-End:</b> Angular, TypeScript, JavaScript, jQuery, HTML5, CSS3.</li>
				<li><b>Database:</b> SQL Server, Database Design, Optimization.</li>
				<li><b>Cloud:</b> Azure (App Service, SQL Server, Storage Accounts, Service Bus, Functions), Azure DevOps CI/CD.</li>
				<li><b>Agile:</b> Scrum, Sprint Planning, Daily Stand-ups.</li>
				<li><b>Version Control:</b> Git, Azure DevOps, TFS.</li>
				<li><b>Testing:</b> Unit Testing, Quality Assurance.</li>
				<li><b>Other Languages:</b> Golang, Python, Node.js, Express.</li>
			</ul>
		</p>
	</div>
</section>
