---
import TerminalIcon from '../../atoms/terminal-icon/TerminalIcon.astro';
import Terminal from '../terminal/Terminal.astro';
import './skills-on-terminal.css';
---

<Terminal nombre="jhonDoe">
	<div class="terminal__skills">
		<h2>My Skills</h2>
		<div class="terminal__skills__container">
			<TerminalIcon
				src="/assets/dotnet-logo.svg"
				color="#512BD4"
			/>
			<TerminalIcon
				src="/assets/c-sharp.svg"
				color="#390091"
			/>
			<TerminalIcon
				src="/assets/angular.svg"
				color="#FF4747"
				name="Angular"
			/>
		</div>
	</div>
</Terminal>
